table, th, td {
	border: 2px solid;
	color: darkblue;
}

table {
	border-collapse: collapse;
	width: 80%;
	text-align: center;
}

th, td {
	height: 20px;
	padding: 15px;
	text-align: center;
}

th {
background: pink;
}

tr:nth-child(even) {background-color: silver;}
